
<ion-content class="bg-color-light" padding scrollY="true">
  <ion-card class="plant-card" *ngFor="let plant of plants; let i = index;">
    <img src={{plant.image}} />
    <ion-item>
      <h2 class="plant-title">{{plant.name}}</h2>
      <p class="plant-place low-opacity">{{plant.place}}</p>
    </ion-item>

    <ion-buttons>
      <button ion-button block icon-left>
        <ion-icon name="water"></ion-icon>
        Water
      </button>
    </ion-buttons>
  </ion-card>

  <ion-card *ngIf="!plantsService.plantsLoaded && !plantsService.emptyState">
    <ion-card-header>
    Plants could not be loaded.
    </ion-card-header>

    <ion-card-content>
      Sorry :(
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="plantsService.emptyState">
    <img src="assets/empty-state-plant.jpg" />
    <ion-card-title padding>
    Hello!
    </ion-card-title>
  </ion-card>

  <ion-card *ngIf="plantsService.emptyState">
    <img src="assets/empty-state-new.jpg" />
    <ion-card-header>
    Start with adding a new plant
    </ion-card-header>
  </ion-card>

  <ion-fab right bottom>
    <button ion-fab color="danger" (tap)="goToAddPage()"><ion-icon name="add"></ion-icon></button>
  </ion-fab>
</ion-content>


