
<ion-content class="bg-color-light" padding scrollY="true">
  <ion-card #plantCard class="plant-card" *ngFor="let plant of plants; let i = index;">
    <div class="card">
      <div class="front" (click)="cardPress($event, plant, plantCard)">
        <img src={{plant.image}} />
        <ion-item>
          <h2 class="plant-title">{{plant.name}}</h2>
          <p class="plant-place low-opacity">{{plant.place}}</p>
        </ion-item>

        <ion-buttons padding>
          <button ion-button block round icon-left (click)="waterButtonClicked($event, plant)">
            <ion-icon name="water"></ion-icon>
            Water
          </button>
        </ion-buttons>
        <div class="water-level" [ngStyle]="{'transform': getWaterLevelStyle(plant)}"></div>
        <!--<div class="water-level" [style.transform]="'scaleX(' + plant.waterLevel + ')'"></div>-->
      </div>
      <div class="back">
        <ion-item>
          <h2 class="plant-title">{{plant.name}}</h2>
          <p class="plant-place low-opacity">Adjust plant</p>
          <ion-icon item-right name="close-circle" (click)="flipCard(plantCard, false)"></ion-icon>
        </ion-item>
        
        <ion-item (tap)="goToAddPage('edit', plant)">
          <ion-icon name="create" item-left large></ion-icon>
          <h2>Edit plant details</h2>
          <p>Name, Place, Picture, ...</p>
        </ion-item>
        
        <ion-item>
          <ion-icon name="water" item-left large></ion-icon>
          <h2>Set water level</h2>
          <p>Adjust manually</p>
        </ion-item>
        
        <ion-item (click)="deleteButton($event, plant)">
          <ion-icon name="trash" item-left large></ion-icon>
          <h2>Delete plant</h2>
          <p>And it's gone forever :(</p>
        </ion-item>
      </div>
    </div>
  </ion-card>

  <ion-card *ngIf="!plantsService.plantsLoaded && !plantsService.emptyState">
    <ion-card-header>
    Plants could not be loaded.
    </ion-card-header>

    <ion-card-content>
      Sorry :(
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="plantsService.emptyState">
    <img src="assets/empty-state-plant.jpg" />
    <ion-card-title padding>
    Hello!
    </ion-card-title>
  </ion-card>

  <ion-card *ngIf="plantsService.emptyState">
    <img src="assets/empty-state-new.jpg" />
    <ion-card-header>
    Start with adding a new plant
    </ion-card-header>
  </ion-card>

  <ion-fab right bottom>
    <button ion-fab color="danger" (tap)="goToAddPage('add')"><ion-icon name="add"></ion-icon></button>
  </ion-fab>
</ion-content>


