<ion-header>

  <ion-navbar>
    <ion-title *ngIf="isInAddMode">
      Add new plant
    </ion-title>
    <ion-title *ngIf="!isInAddMode">
      Edit plant
    </ion-title>

    <ion-buttons end>
      <button ion-button icon-only>
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>
<ion-content>
  <ion-list>
    <form [formGroup]="plantForm" (ngSubmit)="savePlant(plantForm.value)">
      <ion-item>
        <ion-label color="primary" floating>Name</ion-label>
        <ion-input required [formControl]="plantForm.controls['name']" name="name"></ion-input>
      </ion-item>


      <ion-item>
        <ion-label color="primary" floating>Room</ion-label>
        <ion-input [formControl]="plantForm.controls['place']" name="place"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label color="primary" floating>Comment</ion-label>
        <ion-input [formControl]="plantForm.controls['comment']" name="comment"></ion-input>
      </ion-item>
  
      <ion-item>
        <ion-range min="1" max="30" step="1" color="primary" [formControl]="plantForm.controls['waterDays']">
          <ion-icon range-left name="water" color="primary"></ion-icon>
          <ion-label range-left>Every <b>{{plantForm.value.waterDays}}</b> Days</ion-label>
        </ion-range>
      </ion-item>
      
      <ion-buttons>
        <button ion-button large block icon-left (click)="takePicture($event)">
          <ion-icon name="camera"></ion-icon>
          Take picture
        </button>
      </ion-buttons>
      <div class="picture-preview">
        <img *ngIf="plantImage" src="{{plantImage}}">
      </div>

      <ion-buttons>
        <button ion-button large block icon-left type="submit" [color]="plantForm.valid ? 'primary' : 'danger'" [disabled]="!plantForm.valid">
          <ion-icon name="checkmark"></ion-icon>
          Save Plant
        </button>
      </ion-buttons>
    </form>

  </ion-list>

</ion-content>



